{{ template "common/layout.html" . }}

{{ define "body" }}
    <div class="container">
        {{ template "data/project-breadcrumb.html" . }}

        <div class="row mt-3">

            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#description" role="tab" data-toggle="tab">{{i18n .Lang "project.tabs.description"}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#data" role="tab" data-toggle="tab">{{i18n .Lang "project.tabs.data"}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#code-tasks" role="tab" data-toggle="tab">{{i18n .Lang "project.tabs.code-tasks"}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#common-tasks" role="tab" data-toggle="tab">{{i18n .Lang "project.tabs.common-tasks"}}</a>
                    </li>
                </ul>

                <div class="tab-content mt-3 mb-3">
                    <div role="tabpanel" class="tab-pane fade show active" id="description">
                        <div class="row">
                            <div class="col-12">
    {{/*
                                {{with i18n .Lang "project.alert.not-implemented"}}
                                    {{ template "alert" . }}
                                {{end}}
    */}}
                                {{ template "data/alert.html" i18n .Lang "project.alert.not-implemented" }}
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>{{i18n .Lang "project.bank.challenge.header"}}</h5>
                                        <p>{{i18n .Lang "project.bank.challenge.p1"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <h5>{{i18n .Lang "project.bank.proposal.header"}}</h5>
                                        <p>{{i18n .Lang "project.bank.proposal.p1"}}</p>
                                        <p>{{i18n .Lang "project.bank.proposal.p2"}}</p>
                                        <p>{{i18n .Lang "project.bank.proposal.p3"}}</p>
                                        <p>{{i18n .Lang "project.bank.proposal.p4"}}</p>
                                        <p>{{i18n .Lang "project.bank.proposal.p5"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="data">
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="code-tasks">
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="common-tasks">
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ end }}