{{ template "common/layout.html" . }}

{{ define "body" }}
    <div class="container">

        {{ template "data/project-breadcrumb.html" . }}

        <div class="row mt-3">

            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#description" role="tab" data-toggle="tab">{{i18n .Lang "project.tabs.description"}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#data" role="tab" data-toggle="tab">{{i18n .Lang "project.tabs.data"}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#tasks" role="tab" data-toggle="tab">{{i18n .Lang "project.tabs.tasks"}}</a>
                    </li>
                </ul>

                <div class="tab-content mt-3 mb-3">
                    <div role="tabpanel" class="tab-pane fade show active" id="description">
                        <div class="row">
                            <div class="col-12">
                                {{ template "data/alert.html" i18n .Lang "project.alert.not-implemented" }}
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>{{i18n .Lang "project.municipal-services.challenge.header"}}</h5>
                                        <p>{{i18n .Lang "project.municipal-services.challenge.p1"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <h5>{{i18n .Lang "project.municipal-services.proposal.header"}}</h5>
                                        <p>{{i18n .Lang "project.municipal-services.proposal.p1"}}</p>
                                        <p>{{i18n .Lang "project.municipal-services.proposal.p2"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="data">
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tasks">
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ end }}