{{ template "common/layout.html" . }}

{{ define "head" }}
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    event.stopPropagation();
                    if (form.checkValidity()) {
                        $("#feedbackButton").addClass("disabled");

                        $.post("/action/feedback", $("#feedbackForm").serialize())
                                .done(function(data) {
                                    if (data.success) {
                                        successMessage('{{i18n .Lang "contact-us.feedback.action-result.success"}}');
                                    } else {
                                        failMessage('{{i18n .Lang "contact-us.feedback.action-result.fail"}}');
                                    }
                                })
                                .fail(function () {
                                    failMessage('{{i18n .Lang "contact-us.feedback.action-result.fail"}}');
                                })
                                .always(function () {
                                    $("#feedbackButton").removeClass("disabled");
                                    form.classList.remove('was-validated');
                                });
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{{ end }}

{{ define "body" }}
    <div class="container">
        <div class="row">

            <div class="col-12 mt-3">
                <h5 id="donate">{{i18n .Lang "contact-us.donate.header"}}</h5>
                <p>{{i18n .Lang "contact-us.donate.p1"}}</p>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#sberbank" role="tab" data-toggle="tab">
                            <img src="/static/img/logo/sber.ico" width="24" height="24"/> Сбербанк
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#alphabank" role="tab" data-toggle="tab">
                            <img src="/static/img/logo/alpha.png" width="24" height="24"/> Альфа-Банк
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#web-money" role="tab" data-toggle="tab">
                            <img src="/static/img/logo/web-money.ico" width="24" height="24"/> WebMoney
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bitcoin" role="tab" data-toggle="tab">
                            <img src="/static/img/logo/bitcoin.png" width="24" height="24"/> Bitcoin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bitcoin-cash" role="tab" data-toggle="tab">
                            <img src="/static/img/logo/bitcoin-cash.png" width="24" height="24"/> BitcoinCash
                        </a>
                    </li>
                </ul>

                <div class="tab-content mt-3 mb-3">
                    <div role="tabpanel" class="tab-pane fade show active" id="sberbank">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.sberbank"}} - TODO</li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="alphabank">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.alphabank"}} - TODO</li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="web-money">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.web-money.wmr"}} - TODO</li>
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.web-money.wmz"}} - TODO</li>
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.web-money.wmx"}} - TODO</li>
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.web-money.wmh"}} - TODO</li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="bitcoin">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.bitcoin"}} - TODO</li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="bitcoin-cash">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{i18n .Lang "contact-us.donate.bitcoin-cash"}} - TODO</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">
                {{ template "data/alert.html" i18n .Lang "contact-us.donate.alert" }}
            </div>

            <div class="col-12 mt-3">
                <h5 id="feedback">{{i18n .Lang "contact-us.feedback.header"}}</h5>
                <p>{{i18n .Lang "contact-us.feedback.p1"}}</p>

                <form id="feedbackForm" action="/action/feedback" method="post" class="border border-secondary rounded p-3 needs-validation" novalidate autocomplete="off">
                    <div class="row form-group">
                        <label for="email" class="col-md-2 col-form-label">{{i18n .Lang "contact-us.feedback.form.email"}}</label>
                        <div class="col-md-10">
                            <input id="email" name="email" type="text" class="form-control" placeholder="name@mail.ru" required/>
                            <div class="invalid-tooltip">{{i18n .Lang "contact-us.feedback.form.validation-error.field-required"}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="message" class="col-md-2 col-form-label">{{i18n .Lang "contact-us.feedback.form.message"}}</label>
                        <div class="col-md-10">
                            <textarea id="message" name="message" class="form-control" rows="7" required></textarea>
                            <div class="invalid-tooltip">{{i18n .Lang "contact-us.feedback.form.validation-error.field-required"}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10">
                            <button id="feedbackButton" type="submit" class="btn btn-primary">{{i18n .Lang "action.send"}}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 mt-3">
                {{ template "data/alert.html" i18n .Lang "contact-us.feedback.alert" }}
            </div>
        </div>
    </div>
{{ end }}