<meta charset="UTF-8">

<title>{{i18n .Lang .PageTitle}}</title>
<meta name="description" content="{{i18n .Lang .PageDescription}}">
<meta name="keywords" content="{{i18n .Lang .PageKeywords}}">

<link rel="icon" href="/static/img/logo/usqm-red.png">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<link rel="stylesheet" href="/static/css/styles.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-social.css">
<link rel="stylesheet" href="/static/css/flag-icon.min.css">
<link rel="stylesheet" href="/static/css/messenger.css">
<link rel="stylesheet" href="/static/css/messenger-theme-future.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!-- Bootstrap and jQuery -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/messenger.min.js"></script>
<script src="/static/js/messenger-theme-future.js"></script>

<script>
    // https://stackoverflow.com/questions/951021/what-is-the-javascript-version-of-sleep
/*
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
*/

    // setup messenger
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
        theme: 'future'
    };

    function message(type, msg) {
        Messenger().post({
            type: type,
            message: msg,
            showCloseButton: true
        });
    }

    function successMessage(msg) {
        message('success', msg);
    }

    function failMessage(msg) {
        message('error', msg);
    }

    // show popover
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
