<title>{{i18n .Lang "title"}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="icon" href="/static/img/logo/usqm-red.png">

<!-- CSS -->
<link rel="stylesheet" href="/static/css/styles.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-social.css">
<link rel="stylesheet" href="/static/css/flag-icon.min.css">
<link rel="stylesheet" href="/static/css/messenger.css">
<link rel="stylesheet" href="/static/css/messenger-theme-future.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!-- Bootstrap and jQuery -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/messenger.min.js"></script>
<script src="/static/js/messenger-theme-future.js"></script>

<script>
    // setup messenger
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
        theme: 'future'
    };

    // show popover
    $(function () {
        $('[data-toggle="popover"]').popover();
    })
</script>
