<!-- Login Dialog -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{i18n .Lang "login.dialog.header"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{i18n .Lang "login.form.description"}}</p>
                <div>
                    <a class="btn btn-block btn-social btn-lg btn-google">
                        <span class="fab fa-google"></span> {{i18n .Lang "login.form.google.sign-in"}}
                    </a>

                    <a class="btn btn-block btn-social btn-lg btn-facebook">
                        <span class="fab fa-facebook"></span> {{i18n .Lang "login.form.facebook.sign-in"}}
                    </a>

                    <a class="btn btn-block btn-social btn-lg btn-odnoklassniki" data-toggle="popover" data-placement="right" data-content="{{i18n .Lang "not-implemented-yet"}}">
                        <span class="fab fa-odnoklassniki"></span> {{i18n .Lang "login.form.odnoklassniki.sign-in"}}
                    </a>

                    <a class="btn btn-block btn-social btn-lg btn-vk" data-toggle="popover" data-placement="right" data-content="{{i18n .Lang "not-implemented-yet"}}">
                        <span class="fab fa-vk"></span> {{i18n .Lang "login.form.vk.sign-in"}}
                    </a>

                    <a class="btn btn-block btn-social btn-lg btn-github" data-toggle="popover" data-placement="right" data-content="{{i18n .Lang "not-implemented-yet"}}">
                        <span class="fab fa-github"></span> {{i18n .Lang "login.form.github.sign-in"}}
                    </a>
                </div>
                <div class="mt-2">
                    <form class="form-inline" action="/action/login" method="post">
                        <input type="hidden" name="page" value="{{.Page}}"/>
                        <label class="sr-only" for="loginEmail">{{i18n .Lang "login.form.email"}}</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <input type="text" class="form-control" id="loginEmail" name="email" placeholder="name@mail.ru">
                        </div>

                        <button type="submit" class="btn btn-primary mb-2">{{i18n .Lang "action.login"}}</button>
                        <button type="button" class="btn btn-secondary ml-2 mb-2" data-dismiss="modal">{{i18n .Lang "action.cancel"}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Lang Dialog -->
<div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{i18n .Lang "translation.dialog.header"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{i18n .Lang "translation.dialog.p1" | safeHtml}}</p>
                <p>{{i18n .Lang "translation.dialog.p2" | safeHtml}}</p>
                <p>{{i18n .Lang "translation.dialog.p3" | safeHtml}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n .Lang "action.close"}}</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-secondary">
    <div class="container">
        <a class="navbar-brand" href="/home.html"><span class="fa fa-home fa-lg"></span> {{i18n .Lang "navigation.home"}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProjects" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-project-diagram fa-lg"></span> {{i18n .Lang "navigation.projects"}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarProjects">
                        <a class="dropdown-item" href="/project/housing-cooperative.html"><span class="fa fa-file-contract fa-lg"></span> {{i18n .Lang "project.housing-cooperative"}}</a>
                        <a class="dropdown-item" href="/project/ussr-2.0.html"><span class="fa fa-dove fa-lg"></span> {{i18n .Lang "project.ussr-2.0"}}</a>
                        <a class="dropdown-item" href="/project/pension-fund.html"><span class="fa fa-blind fa-lg"></span> {{i18n .Lang "project.pension-fund"}}</a>
                        <a class="dropdown-item" href="/project/municipal-services.html"><span class="fa fa-clipboard-list fa-lg"></span> {{i18n .Lang "project.municipal-services"}}</a>
                        <a class="dropdown-item" href="/project/bank.html"><span class="fa fa-piggy-bank fa-lg"></span> {{i18n .Lang "project.bank"}}</a>
                    </div>
                </li>
                <li class="nav-item{{if eq .Page "about-us"}} active{{end}}">
                    <a class="nav-link" href="/about-us.html"><span class="fa fa-address-card fa-lg"></span> {{i18n .Lang "navigation.about-us"}}</a>
                </li>
                <li class="nav-item{{if eq .Page "contact-us"}} active{{end}}">
                    <a class="nav-link" href="/contact-us.html"><span class="fa fa-seedling fa-lg"></span> {{i18n .Lang "navigation.contact-us"}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-toolbox fa-lg"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/action/header" target="_blank">Request Header</a>
                        <a class="dropdown-item" href="/action/sessions" target="_blank">Sessions</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="flag-icon flag-icon-{{.Lang}}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarLanguages">
                        <a class="dropdown-item" href="/action/change-language?lang=ru&page={{.Page}}"><span class="flag-icon flag-icon-ru"></span> Pусский язык</a>
                        <a class="dropdown-item" href="/action/change-language?lang=us&page={{.Page}}"><span class="flag-icon flag-icon-us"></span> English</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-az"></span> Azərbaycan dili</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-am"></span> Հայերենի լեզուն</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-by"></span> Беларускую мову</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-ge"></span> ქართული ენა</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-kz"></span> Қазақ тілі</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-kg"></span> Кыргыз</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-lv"></span> Latviešu valoda</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-lt"></span> Lietuvių kalba</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-md"></span> Limba moldovenească</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-tj"></span> Забони тоҷикӣ</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-tm"></span> Türkmen dili</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-ua"></span> Українська мова</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-uz"></span> O'zbek</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal"><span class="flag-icon flag-icon-ee"></span> Eesti keel</a>
                    </div>
                </li>
                {{if .User }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user-circle fa-lg"></span> {{.User.Name}}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item disabled" href="#"><span class="fa fa-cogs fa-lg"></span> {{i18n .Lang "navigation.settings"}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/action/logout?page={{.Page}}"><span class="fa fa-sign-out-alt fa-lg"></span> {{i18n .Lang "action.logout"}}</a>
                        </div>
                    </li>
                {{ else }}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"><span class="fa fa-sign-in-alt fa-lg"></span> {{i18n .Lang "action.login"}}</a>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>